<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--<properties resource="jdbc.properties"></properties>-->

    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"></setting>
        <setting name="cacheEnabled" value="true"></setting>
        <setting name="lazyLoadingEnabled" value="true"></setting>
        <!--<setting name="aggressiveLazyLoading" value="true"></setting>-->
    </settings>
    <!--<typeAliases>-->
        <!--<package name="mytyperhandler"></package>-->
    <!--</typeAliases>-->

    <!--<typeHandlers>-->
        <!--<package name="test_typeHandler"></package>-->
    <!--</typeHandlers>-->
    <!--<objectFactory type="myobjectfactory.MyObjectFactory">-->
        <!--<property name="someProperty" value="100"></property>-->
    <!--</objectFactory>-->
    <!--<environments default="development">-->
        <!--<environment id="development">-->
            <!--<transactionManager type="JDBC"/>-->
            <!--<dataSource type="POOLED">-->
                <!--<property name="driver" value="${driver}"/>-->
                <!--<property name="url" value="${url}"/>-->
                <!--<property name="username" value="${username}"/>-->
                <!--<property name="password" value="${password}"/>-->
            <!--</dataSource>-->
        <!--</environment>-->
    <!--</environments>-->
    <!--配置注解-->
    <!--<mappers>-->
        <!--&lt;!&ndash;<mapper resource="mappers/RoleMapper.xml"></mapper>&ndash;&gt;-->
        <!--<package name="mapper"></package>-->
    <!--</mappers>-->
    <!--配置xml-->
    <!--<mappers>-->
        <!--&lt;!&ndash;<package name="mappers"></package>&ndash;&gt;-->
        <!--<mapper resource="mappers/RoleMapper.xml"></mapper>-->
        <!--<mapper resource="mappers/User-mapper.xml"></mapper>-->
        <!--&lt;!&ndash;<package name="mappers"></package>&ndash;&gt;-->
    <!--</mappers>-->

    <!--使用注解-->
    <!--<mappers>-->
        <!--<package name="springmybatis.mappers"></package>-->
    <!--</mappers>-->
    <!--<mappers>-->
        <!--<mapper resource="mappers/Role-mapper.xml"></mapper>-->
    <!--</mappers>-->
    <!--<mappers>-->
        <!--<package name="springmybatis.mappers"></package>-->
    <!--</mappers>-->

</configuration>

<!--
<configuration>
    <properties resource="jdbc.properties"></properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="RoleMapper.xml"/>
    </mappers>
</configuration>
-->